

<h1 style= "text-align:center; color:gray">Student Information</h1>
<h3 style= "text-align:center;"><%= link_to 'Add New Student!', new_student_path %></h3>

<body>
<hr style="color:light-gray; height: 10px; border: 0;box-shadow: 0 10px 10px -10px #8c8b8b inset;">
<h4 style= "text-align:center">
<span>Sort by: </span>
<%= sortable "Name " %>
<%= sortable "Height " %>
<%= sortable "Weight " %>
<%= sortable "GPA " %>
<%= sortable "email" %></h4>

<hr style="color:light-gray;">
</body>


<style>

body{
  font-family:sans-serif;
  
}

#fixed-size-square {
    display:inline-table;
    background: white;
    border: solid;
    border-color:black;
    border-width:1px;
    vertical-align: bottom;
   
}

#text-box{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
 
</style>

<div>
  <% @students.each do |student| %>
     
    <div id= "fixed-size-square" style = "width:<%= student.weight%>px; height:<%= student.height %>px">
       <div id= "text-box" style = "width:<%= student.weight %> px; 
                    height:<%= student.height %>  px;
                    color:<%= student.color %>;">
         <b><%= student.name %></b><br><b><%= student.gpa %></b><br><b><%= student.email %></b><br><br>
         
        
        <div style= "vertical-align:bottom" >
            <%= link_to image_tag("show.png", :title => "Show"), student_path(student) %>
            <%= link_to image_tag("edit.png", :title => "Edit"), edit_student_path(student) %>
            <%= link_to image_tag("delete.png", :title => "Delete"), student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          
        </div>
       
                    
        </div>
    </div>
    
  <% end %>

</div>
