<h1>Listing Student Data</h1>
<%= link_to 'Add student', new_student_path %>


<style>
  
#fixed-size-square {
    display:inline-block;
    background: white;
    border: solid;
    border-color:black;
    border-width:1px;
    vertical-align: bottom;
    
}

.text-box{
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  
}
 
</style>


<div>
  
  <% @students.each do |student| %>
     
    <div id= "fixed-size-square" style = "width:<%= student.weight %>px; height:<%= student.height %>px">
       <div class= "text-box" style = "width:<%= student.weight %>px; height:<%= student.height %>px"><%= student.name %></div>
    </div>
    
  
  <% end %>

  
</div>
