


<body>
<h1 style= "color:gray">Detail Information</h1>
<hr style="color:light-gray; height: 10px; border: 0;box-shadow: 0 10px 10px -10px #8c8b8b inset;">
<p>
  <strong>Name:</strong>
  <%= @students.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @students.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @students.height %>
</p>

<p>
  <strong>Color:</strong>
  <%= @students.color %>
</p>

<p>
  <strong>GPA:</strong>
  <%= @students.gpa %>
</p>

 
<p>
  <strong>Email:</strong>
  <%= @students.email %>
</p>



<%= link_to image_tag("back.png", :title => "Back"), students_path %> |
<%= link_to image_tag("edit.png", :title => "Edit"), edit_student_path(@students) %>
</body>
  
<style>

body{
  font-family:sans-serif;
  text-align:center;
}

</style>